.portifolio {
  width: 100%;
  height: auto;
  background-color: #fff;
  padding: 4rem 0 2rem 0;
}

.portifolio-titulo h4 {
  text-transform: uppercase;
  margin: 0;
  font-size: 1rem;
  letter-spacing: 0.3rem;
  line-height: 1.565;
  color: #3466f6;
  text-shadow: 0 0 6px rgb(0 0 0 / 20%);
  height: 35px;
  text-align: center;
}

.portifolio-titulo h3 {
  color: #333;
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 3rem;
}

.projetos {
  width: 80%;
  height: 1350px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-shadow: 3px 2px 24px -4px rgba(0, 0, 0, 0.48);
  -moz-box-shadow: 3px 2px 24px -4px rgba(0, 0, 0, 0.48);
  box-shadow: 3px 2px 24px -4px rgba(0, 0, 0, 0.48);
  cursor: pointer;
}

.projetos-padrao {
  width: 50%;
  position: relative;
}

.escondido {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  animation: anime-left 1.3s ease-in;
}

.escondido h3 {
  font-size: 1.5rem;
}

.escondido span {
  font-size: 0.8rem;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.788);
}

.colun {
  height: 80%;
}

.chatApp {
  height: 30%;
  position: relative;
  background-image: url("../images/projects/chat-app.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.biografia {
  height: 95%;
  position: relative;
  background-image: url("../images/projects/biografia.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.dama {
  height: 80%;
  background-image: url("../images/projects/dama.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 0%;
}

.marktplace {
  height: 20%;
  background-image: url("../images/projects/maktplace.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.playstation {
  height: 20%;
  background-image: url("../images/projects/playstation.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.infos {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333333e0;
  z-index: 2;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  font-size: clamp(1em, 1em + 1vw, 1em);
}

.infos h6 {
  text-transform: uppercase;
  font-size: 2rem;
  margin-top: 2rem;
}

.infos p {
  max-width: 80%;
  text-align: center;
}

.background-modal {
  width: 99vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  top: 0;
  justify-content: center;
  align-items: center;
  display: none;
  z-index: 1;
}

.container-foto-modal {
  width: 40%;
  height: 100%;
  /* overflow: hidden; */
  background-image: url('');
  background-size: cover;
  /* ../images/projects/biografia.png */
  background-position: 50% 0%;
}

.container-conteudo-modal p {
  width: 400px;
  margin: 20px auto 0 auto;
  font-size: 1.5rem;
}

.container-conteudo-modal {
  width: 60%;
}

.conteudo-modal {
  width: 70%;
  height: 500px;
  position: relative;
  z-index: 1000;
  padding: 1rem;
  border-radius: 4px;
  display: flex;
  background-color: #fff;
  color: #333;
  animation: anime-left 0.3s forwards;
  display: flex;
  gap: 1rem;
}

.fotos_tencologias {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 20px;
} 

.fotos_tencologias li {
  width: 50px;
  height: 50px;
  background-size: 90%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.modal {
  align-items: center;
  justify-content: center;
}

.background-modal.ativo {
  display: flex;
}

.modal h5,
.modal p,
.modal a {
  color: #333;
}

.modal h5 {
  text-align: center;
  font-size: 1.2rem;
}

.modal p {
  font-size: clamp(1em, 0.8em + 1vw, 0.9em);
  text-align: center;
  max-width: 95%;
  word-wrap: break-word;
}

.fecha-modal {
  position: absolute;
  top: 5px;
  right: 5px;
  color: #ada3a3;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
}

@keyframes anime-left {
  from {
    opacity: 0;
    transform: translateX(-700px);
  }
  to {
    opacity: 1;
    transform: translate(0);
  }
}

@media (max-width: 1000px) {
  .projetos {
    height: 900px;
  }
  .conteudo-modal {
    width: 700px;
  }
  .container-foto-modal {
    width: 300px;
  }
  .container-conteudo-modal {
    width: 400px;
  }
}

@media (max-width: 750px) {
  .projetos {
    height: 700px;
  }
}

@media (max-width: 500px) {
  .projetos {
    height: 500px;
  }
}
