.qualificacoes {
  background-color: #ebebeb;
  padding: 2rem 0;
}

.resumo h4 {
  text-transform: uppercase;
  margin: 0;
  font-size: 1rem;
  letter-spacing: 0.3rem;
  line-height: 1.565;
  color: #3466f6;
  text-shadow: 0 0 6px rgb(0 0 0 / 20%);
  height: 35px;
  text-align: center;
}

.resumo h3 {
  color: #333;
  font-size: 1.8rem;
  text-align: center;
}

.resumo p {
  color: #888888;
  text-align: center;
  font-size: 1.2rem;
}

.educacao {
  padding: 2rem 0;
  width: 650px;
  margin: 0 auto;
}

.educacao h3 {
  text-transform: uppercase;
  margin: 0;
  font-size: 1.2rem;
  letter-spacing: 0.3rem;
  line-height: 1.565;
  color: #3466f6;
  text-shadow: 0 0 6px rgb(0 0 0 / 20%);
  height: 35px;
  text-align: center;
  margin-bottom: 20px;
}

.educacao ul {
  list-style: none;
  position: relative;
}

.data-curso {
  font-size: 0.8rem;
}

.educacao h4,
strong {
  color: #333;
}

.educacao span {
  color: #888888;
}

.educacao li {
  display: flex;
  color: #888888;
  gap: 2.5rem;
  margin-bottom: 1rem;
}

.centro {
  height: 100%;
  width: 1px;
  background-color: #33333338;
  position: absolute;
  top: 0;
  left: 200px;
}

.centro div {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #333;
  left: -17px;
  background-image: url("../images/icons8-chapéu-de-formatura-30.png");
  background-size: 50%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  color: #fff;
}

.instituicao {
  width: 200px;
}

.curso-container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 350px;
}

.nome-curso {
  margin-bottom: 20px;
}

.nome-curso::before {
  content: "";
  display: inline-block;
  width: 100px;
  height: 4px;
  background-color: #33333338;
  position: absolute;
  border-radius: 2px;
  top: 25px;
}
