#sobre {
  background-color: #fff;
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.informacoes {
  padding: 5rem 0 2rem 0;
  width: 600px;
}

.informacoes h5 {
  text-transform: uppercase;
  margin: 0;
  font-size: 1rem;
  letter-spacing: 0.3rem;
  line-height: 1.565;
  color: #3466f6;
  text-shadow: 0 0 6px rgb(0 0 0 / 20%);
  height: 35px;
  text-align: center;
}

.informacoes h3 {
  color: #333;
  font-size: 1.8rem;
  text-align: center;
}

.informacoes_sobre-mim {
  width: 100%;
  display: flex;
  gap: 1rem;
}

.informacoes_foto {
  width: 110px;
}

.informacoes_foto img {
  width: 100%;
  height: 110px;
  border-radius: 50%;
}
.informacoes_texto {
  width: 80%;
}

.informacoes_texto p {
  color: #888888;
  font-size: 1.3rem;
  margin: 0;
  line-height: 0.9cm;
}

.perfil_skills {
  width: 600px;
  height: 610px;
  display: flex;
  gap: 4%;
}

.perfil_skills strong,
.perfil_skills h2 {
  color: #3466f6;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

/* .perfil_skills span {
  color: #888888;
} */

.perfil_skills p {
  color: #888888;
  font-size: 1.2rem;
}

.perfil,
.skills {
  width: 48%;
  height: auto;
  padding: 2rem 0;
  color: #888888;
  height: 100px;
  display: flex;
  flex-direction: column;
}

.perfil ul,
.skills ul {
  padding: 0;
}

.perfil ul li,
.skills ul li {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.oitenta {
  right: 45px;
  width: 80%;
}

.setenta {
  right: 73px;
  width: 70%;
}

.cinquenta {
  right: 130px;
  width: 50%;
}

.progresso_total {
  width: 100%;
  height: 5px;
  background-color: #3333338c;
  position: relative;
}

.porcentagem_progesso {
  width: auto;
  height: 20px;
  border-radius: 2px;
  background-color: #3466f6;
  position: absolute;
  top: -27px;
  font-size: 0.8rem;
  font-weight: 700;
  padding: 0.2rem 0.2rem;
  color: #fff;
}

.porcentagem_progesso::after {
  position: absolute;
  left: 50%;
  bottom: -5px;
  margin-left: -5px;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  border-top: 5px solid #3466f6;
  content: "";
}

.barra_progresso {
  height: 5px;
  background-color: #3466f6;
}
