@import "./header.css";
@import "./apresentacao.css";
@import "./sobre.css";
@import "./qualificacoes.css";
@import "./projetos.css";
@import "./informacoes-contato.css";

body {
  margin: 0;
  padding: 0;
  background-color: #333;
  font-family: "Roboto Condensed", sans-serif;
}

* {
  box-sizing: border-box;
  color: #fff;
}

ul {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
